/* line 1, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 5, ../sass/main.scss */
html, body, #map {
  height: 100%;
}

/* line 10, ../sass/main.scss */
#userBalance {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 30px;
  z-index: 999;
  background-color: rgba(200, 200, 200, 0.8);
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  border-radius: 5px;
  color: teal;
}

/* line 25, ../sass/main.scss */
#dropZone {
  display: block;
  position: absolute;
  top: 5px;
  width: 50px;
  right: 20px;
  z-index: 999;
  padding: 5px;
  margin: 5px;
  font-size: 24px;
  color: teal;
}

/* line 38, ../sass/main.scss */
.imageFocus {
  background-color: rgba(200, 0, 0, 0.8);
}
